@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-BoldItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
    font-display: block;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: block;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

html,
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik';
    font-style: normal;
    word-break: break-word;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    isolation: isolate;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    font-family: 'Rubik';
}

button:disabled {
    pointer-events: none;
}

.btn-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    box-sizing: border-box;
    isolation: isolate;
    height: 46px;
    background: #FFFFFF;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #14171A;
}


/* timeline */

.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

/* 轴线 */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: rgba(113, 128, 150, 0.3);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}



/* 单个节点和内容容器 */
.timeline-container {
    position: relative;
    background: inherit;
    width: 50%;
}

/* 轴上节点 */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: calc(50% - 6px);
    right: -6px;
    background: #718096;
    border-radius: 50%;
    z-index: 1;
}

/* 奇数为左，偶数为右 */
.timeline-container:nth-child(odd) {
    left: 0;
}

.timeline-container:nth-child(even) {
    left: 50%;
}

.timeline-container:nth-child(even)::after {
    left: -6px;
}

.timeline-container:nth-child(even)::before {
    left: 6px;
}

/* 左右内容 */
.timeline-container .timeline-container-content {
    padding: 20px 30px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
}


.timeline-container:nth-child(odd) .timeline-container-content {
    text-align: right;
}

.timeline-container:nth-child(even) .timeline-container-content {
    text-align: left;
}

@media (max-width: 768px) {
    .timeline::after {
        left: 0px;
    }

    .timeline-container:nth-child(odd),
    .timeline-container:nth-child(even) {
        width: 100%;
        left: 0;
    }

    .timeline-container::after {
        left: -6px;
    }

    .timeline-container:nth-child(even)::after {
        left: -6px;
    }

    .timeline-container:nth-child(even)::before {
        left: 6px;
    }

    .timeline-container:nth-child(odd) .timeline-container-content,
    .timeline-container:nth-child(even) .timeline-container-content {
        text-align: left;
    }
}