@import './common.css';

.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0px 20px;
}

.header.scrolled {
    background-color: rgba(0, 0, 0);
}

.header-inner {
    height: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner .logo {
    width: 145px;
    height: 40px;
}

.header-inner .links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-inner .links>a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .header-inner .links {
        display: none;
    }

    .header.scrolled {
        display: none;
    }
}

/* banner */
.banner {
    height: 720px;
    position: relative;
}

.banner .tunnel-animation {
    width: 100%;
    height: 720px;
}

.banner .introduction {
    width: 100%;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 20px;
    box-sizing: border-box;
}

.banner .introduction .title {
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.banner .introduction .texts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner .introduction .texts>span {
    width: 370px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.banner .introduction .texts>span>span {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    white-space: nowrap;
}

.banner .introduction .texts .dividing-line {
    width: 2px;
    height: 60px;
    background: #FFFFFF;
}

.banner .introduction .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .banner {
        height: 860px;
    }

    .banner .tunnel-animation {
        height: 860px;
    }

    .banner .introduction {
        top: 105px;
    }

    .banner .introduction .title {
        font-size: 28px;
        line-height: 34px;
    }


    .banner .introduction .texts {
        flex-direction: column;
    }

    .banner .introduction .texts>span {
        width: 300px;
        font-size: 14px;
        line-height: 17px;
    }

    .banner .introduction .texts .dividing-line {
        width: 60px;
        height: 2px;
    }

    .banner .introduction .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .banner .introduction .logos .logo {
        width: 40px;
        height: 40px;
    }

    .banner .introduction .logos .plus {
        width: 14px;
        height: 14px;
    }
}

/* section common style */

.section-title {
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 30px;
        line-height: 36px;
    }
}

/* Our Strategy */
.our-strategy {
    margin-top: 120px;
}

.our-strategy .grid {
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, minmax(calc((100% - 40px * 3) / 4), 1fr));
}

.our-strategy .grid .item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    /* width: 270px; */
    height: 300px;
    background: #1B1E23;
    border: 1px solid #39424C;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.our-strategy .grid .item>span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 768px) {

    .our-strategy .grid {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .our-strategy .grid .item {
        width: 270px;
        height: 300px;
    }
}

/* products */
.products {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.products .wrapper {
    display: flex;
}

.products .wrapper .user-network {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.products .wrapper .user-network>p {
    margin: 0;
    width: 304px;
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.products .wrapper .user-network>span {
    width: 351px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.products .wrapper .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: calc(460px / 2 - 360px / 2);
}

.products .wrapper .product .img {
    width: 360px;
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
}

.products .wrapper .u3 .img {
    background-image: url("/imgs/products/u3.png");
}

.products .wrapper .s3 .img {
    background-image: url("/imgs/products/s3.png");
}

.products .wrapper .product>p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
}

.products .wrapper .product>span {
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.products .wrapper .product>a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #14171A;
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.products .wrapper .product>a>img {
    width: 24px;
    height: 24px;
}

.products .caip {
    margin-top: 156px;
    width: 100%;
    max-width: 1000px;
    height: 180px;
    background-image: url("/imgs/products/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.products .caip>p {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.products .caip>span {
    width: 600px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 768px) {

    .products {
        margin-top: 80px;
        gap: 20px;
    }

    .products .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .products .wrapper .user-network {
        width: 314px;
        height: 257px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-image: url("/imgs/products/network-lr.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: -16px 0px;
    }

    .products .wrapper .user-network img {
        display: none;
    }

    .products .wrapper .user-network>p {
        margin: 0;
        width: 300px;
        font-size: 24px;
        line-height: 28px;
    }

    .products .wrapper .user-network>span {
        width: 280px;
        font-size: 14px;
        line-height: 17px;
    }

    .products .wrapper .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 0;
        width: 320px;
        height: 320px;
        background: #14171A;
        border: 1px solid #39424C;
        border-radius: 200px;
    }

    .products .wrapper .product .img {
        width: 120px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .products .wrapper .u3 .img {
        background-image: url("/imgs/products/u3-sm.png");
    }

    .products .wrapper .s3 .img {
        background-image: url("/imgs/products/s3-sm.png");
    }

    .products .wrapper .product>p {
        font-size: 24px;
        line-height: 28px;
    }

    .products .wrapper .product>span {
        width: 280px;
        font-size: 14px;
        line-height: 17px;
    }

    .products .wrapper .product>a {
        font-weight: 500;
        margin-top: 0;
    }

    .products .wrapper .product>a>span {
        display: none;
    }

    .products .caip {
        margin-top: 0;
        width: 320px;
        height: 180px;
        padding: 40px 10px;
    }

    .products .caip>p {
        font-size: 24px;
        line-height: 28px;
    }

    .products .caip>span {
        width: auto;
        font-size: 14px;
        line-height: 17px;
    }
}

/* Roadmap */
.roadmap {
    margin-top: 120px;
    padding: 0 26px;
}

.roadmap .timeline {
    max-width: 910px;
    margin: 40px auto;
}

@media (max-width: 768px) {
    .roadmap {
        margin-top: 80px;
    }

    .roadmap .timeline {
        margin: 20px auto;
    }
}

/* contact-us */
.contact-us {
    margin-top: 100px;
    padding: 40px 0px;
    background-image: url("/imgs/contact-us/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us .subscribe {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #39424C;
    border-bottom: 1px solid #39424C;
    padding: 40px 0px;
    box-sizing: border-box;
}

.contact-us .subscribe .description {
    max-width: 800px;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.contact-us .subscribe .form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-us .subscribe .form-box .email {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    width: 300px;
    height: 48px;
    background: #1a1e23;
    border: 1px solid #39424c;
    border-radius: 12px;
    color: #ffffff;
}

.contact-us .subscribe .form-box .email::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4e5a6e;
}

.contact-us .subscribe .form-box .submit-btn {
    min-width: 120px;
    height: 48px;
    background: #718096;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}

.contact-us .twitter-link {
    margin: 0 auto;
    margin-top: 40px;
    width: 240px;
}

@media (max-width: 768px) {
    .contact-us {
        padding: 20px;
        background-position: 70%;
    }

    .contact-us .subscribe .description {
        font-size: 24px;
        line-height: 28px;
    }

    .contact-us .subscribe .form-box {
        width: 100%;
        gap: 10px;
    }

    .contact-us .subscribe .form-box .email {
        flex: 1;
    }
}