{
  "root": true,
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.base.json"
  },
  "rules": {
    //旧版本的 React 验证
    "react/react-in-jsx-scope": "off",

    //解决 styled 结构顺序问题
    "@typescript-eslint/no-use-before-define": "off",

    //无障碍验证
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",

    //浏览器对 media 已有良好的支持
    "jsx-a11y/media-has-caption":"off",

    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-assignment":"off",
    "@typescript-eslint/no-unsafe-return":"off",

    //设置展开 props 可以显示指定名称
    "react/jsx-props-no-spreading": ["error", {
      "explicitSpread": "ignore"
  }]
    

    // "no-shadow": "off",
    // "@typescript-eslint/no-shadow": "off"
  }
}
